@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Poppins', sans-serif;
}

html, body{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body{
    width: 100%;
}

.search-bar{
    top:73%;
    left:35%;
}


// media queries
@media screen and (max-width:900px){
    .search-bar{
        // top:77%;
        left:25% !important;
    } 
}